/* HeroSection.css */
.hero-section {
    background-image: url('C:\Users\rajne\Desktop\New Project\safesteps\src\assets\Designer (5).jpeg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .hero-content {
    text-align: center;
    font-size: 40px;
    /* background-color: #FF6F61; */

    color:  rgb(255, 255, 255);
    text-shadow: 1px 1px hsl(0, 0%, 0%);

    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .cta-button {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #FF6F61; /* Coral Pink */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  